RIOT_API_KEY=

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_NAME=sumsca
# Set true only in dev to auto-create/update tables from entities. Keep false in prod.
DB_SYNCHRONIZE=false
